<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @work_mate.work %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @work_mate.producer %>
</p>

<p>
  <strong>State:</strong>
  <%= @work_mate.state %>
</p>

<%= link_to 'Keep on Searching', root_path %> 
