<p id="notice"><%= notice %></p>

<p>
  <strong>Track name:</strong>
  <%= @track.track_name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @track.producer %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
