<p id="notice"><%= notice %></p>

<p>
  <strong>Track name:</strong>
  <%= @track.track_name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @track.producer %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @track.tag_list %>
</p>

<audio autoplay controls="controls"><br />

    <source src="<%= url_for(@track.file)%>" />

</audio><br /><br />

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
