<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= s[@opt] %></h5>
        <p class="card-text">From: <%= s.designer %></p>
        <p class="card-text"><small class="text-muted"><%= s.created_at %></small></p>
    </div >
    <%= image_tag(s.file, width: "40%") %>
    <div class="card-body">
        <% if WorkMate.exists?(producer_id: current_producer.id, work_id: s.id) %>
            <%= button_to "Pending Request!", class: "btn btn-primary" %>
        <% else %>
            <%= button_to "SoulMate!", work_mates_path(work_id: s.id, method: :post), class: "btn btn-primary" %>
        <% end %>
    </div>
</div><br><br>
