<h1 class="text-center">Looking for a creative SOULMATE?</h1>
<h2 class="text-center">If you are a music producer or a designer looking to interact, this is your place!</h2>

<% if producer_signed_in? %>
    <div class="container text-center">
        <h1>Start Searching!</h1>
        <%= form_for(root_path, remote: true, method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: "Enter tag term" %>
            <%= submit_tag "Search" %>
            <br><br>
        <% end %>
        <ul id="search-results"></ul>
    </div>
<% elsif designer_signed_in? %>
    <div class="container text-center">
        <h1>Start Searching!</h1>
        <%= form_for(root_path, remote: true, method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: "Enter tag term" %>
            <%= submit_tag "Search" %>
            <br><br>
        <% end %>
        <ul id="search-results"></ul>
    </div>
<% else %>
<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <h3><%=link_to 'Are you a Producer?', new_producer_registration_path %></h3>
        </div>
        <div class="col-md-6">
            <h3><%=link_to 'Are you a Designer?', new_designer_registration_path %></h3>
        </div>
    </div><br><br>
    <h5>SOME OF THE USERS THAT HAVE BENEFIT FROM CREATIVE SOULMATE:</h5><br><br>
    <div class="card-deck">
    </div>
    <script>
    fetch('https://randomuser.me/api/?results=50')
    .then((response) => response.json())
    .then(function(data){
        const users = data.results.map(function(user){
            const node = document.createElement('div')
            node.className = 'card'
            node.innerHTML = `
            <div class="card-body">
                <h5 class="card-title">${user.name.first}</h5>
                <p class="card-text">${user.email}</p>
            </div>`

            return node
        })
        const cardDeck = document.querySelector('.card-deck')
        users.forEach((user) => cardDeck.appendChild(user))
    })
    .catch((error) => console.error(error))
    </script>
</div>
<% end %>