<p id="notice"><%= notice %></p>

<h1>My Requested Tracks</h1>

<table>
  <thead>
    <tr>
      <th>My Track</th>
      <th>Requested By</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requested.each do |r| %>
      <tr>
        <td><%= r.track %></td>
        <td><%= r.designer %></td>
        <td><%= r.state %></td>
        <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>